body {
    font-size: 14px;
}

table {
    border: solid 1px #ccc;
    border-collapse: collapse;
}

table td,
table th {
    border: solid 1px #ccc;
    line-height: 25px;
    height: 25px;
    padding: 5px;
}

#tbheader td {
    background: #fff;
}